src/main/mule/papi_employee_record_crud_flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="3e0e3cf1-1bcc-4e20-953a-98019ae95a68" />
	<flow name="papi_employee_record_crud_flowFlow" doc:id="76a3579c-a559-474d-9401-60983e7eb7fc" >
		<http:listener doc:name="RetrieveRecordsFromSAPI" doc:id="8c5485c3-21f4-45db-a349-b41084d4f62e" config-ref="HTTP_Listener_config" path="/papi"/>
		<http:request method="GET" doc:name="SystemApi" doc:id="e762660b-c281-4cbf-93da-fe62fbfd0db8" config-ref="HTTP_Request_configuration" url="http://"/>
		<ee:transform doc:name="MessageTransformationFrom SAPI" doc:id="25e90a46-3ecc-46bb-81c3-ad973541dbd3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="JoinedTablesRecord" doc:id="0b089f6c-8a77-4e26-8a94-b243fa083719" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3e316547-5ed0-4d31-be18-2c066a18dccf" >
				<set-payload value="#['ErrorMessage' : error.description]" doc:name="Set Payload" doc:id="7712ba32-25ba-4c19-85f4-01bd1870d7a3" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
